.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  max-height: 500vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header-background {
  background-image: url(https://www.usnews.com/dims4/USNEWS/0adf560/17177859217/resize/800x540%3E/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2F34%2F5344e8b46d580ced69018363e831e9%2Fcollege-photo_22755.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.Button {
  color: blue;
  background-color: darkgray;
  font: black;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 2px;
  border-width: 10px;
  border-style: ridge;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
